*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container_footer{
    position: relative;
    left: 100px;
}

.list_footer{
    display: flex;
    width: 340px;
  
    justify-content: space-between;
    flex-wrap: wrap;
}

.list_footer li{
    list-style: none;
    margin-right: 4px;
    font-size: 12px;
    line-height: 20px;
    color: #d3d3d3;
}
a::after{
    content: '\00B7';
margin: 0 .25em 0 .25em;
}

.footer_home{
 color:#d3d3d3;
    font-size: 12px;
    margin-top: 24px;
}